.header{
    max-width: 705px;
    margin-left: 30px;
    background: #6200ee
    }
* {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     -ms-box-sizing: border-box;
     box-sizing: border-box;
     } 
* {
    font-family: 'Lato', sans-serif;
    }
    
body{ 
   background-color: #ebeaec;
}
p{
   color: #2a2a2b;
}
h1{
   color: #ebeaec;
 }
 h2{
    color: #3700b3;
 }
 h3{
    color: #3700b3;
 }
 a{
    color: #3700b3;
 }