/* {
    border: 1px solid rgb(138, 136, 136) !important;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    font-family: 'Lato', sans-serif;
}
* {
    align-content: center;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 85%;
    padding-top: 20px;
}

.row {
    max-width: 100%;
    margin-bottom: 20px;
    display: flex; flex-wrap: wrap;
}

.mainimage {
    display: flex; flex-wrap: wrap;
    position: center;
    max-width: 100%;
}

.indexheader {
    font-size: 36pt;
    text-align: right;
    padding-top: 20px;
    font-weight: bold;
}

caption {
    text-align: center;
    vertical-align: center;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
    vertical-align: middle;
    text-align: center;
}

.col-4 {
    width: 33.33%;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    vertical-align: top;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    background-image: url(../images/background-banner-sub.jpg);
    background-size: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.header {
    width: 100%;
    background-image: url(../images/background-banner-con.jpg);
    background-size: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-size: 20px;
    color: black;
}

h1 {
    font-size: 24pt;
    text-align: left;
    padding-top: 20px;
    font-weight: bold;
    
}

h2 {
    font-size: 16pt;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;

    
}
p {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}

h3 {
    max-width: 100%;
    background-color: #6200ee;
    text-align: center;
    color: aliceblue;
    
}

footer {
    background-color: #6200ee;
    color: aliceblue;
    width: 100%;
    height: 60px;
    margin-top: 40px;

}

img {
    width: 100%;
}

li {
    text-align: left;
    padding-left: 10%;
}

@media only screen and (max-width: 500px) {
    p {
        display: none;
    }
    
}