/* {
    border: 1px solid rgb(138, 136, 136) !important;
} */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    align-content: center;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 85%;
    padding-top: 20px;
}

.row {
    max-width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.mainimage {
    display: flex; flex-wrap: wrap;
    position: center;
    max-width: 100%;
}

.indexheader {
    font-size: 36pt;
    text-align: right;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif
}

caption {
    text-align: center;
    vertical-align: center;
    font-family: 'Lato', sans-serif
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
    vertical-align: middle;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 20px;
}

.col-4 {
    width: 33.33%;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    vertical-align: top;
    font-family: 'Lato', sans-serif
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif

}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
    padding: 20px;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
    background-image: url(../images/background-banner-sub.jpg);
    background-size: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.header {
    width: 100%;
    background-image: url(../images/background-banner-con.jpg);
    background-size: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-size: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 24pt;
    text-align: left;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    
}

h2 {
    font-size: 16pt;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;

    
}
p {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Lato', sans-serif;
    
}

h3 {
    max-width: 100%;
    background-color: #6200ee;
    text-align: center;
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    
}


footer {
    background-color: #6200ee;
    color: aliceblue;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;


}

img {
    width: 100%;
}

li {
    text-align: left;
    padding-left: 10%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 24px;    
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    font-family: 'Lato', sans-serif;
}

.navbar {
    background: #6200ee;
    width: 100%;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #5404c5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Lato', sans-serif;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 500px) {
    p {
        display: none;
    }
    
}